<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu Primeiro Portal Spring Boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Meu Primeiro Portal Spring Boot</h1>
        </header>
        <main>
            <p>MVC é a abreviação de Model, View e Controller</p>
            <p>Model é o modelo das informações</p>
            <p>View são as telas que o usuario vai ver</p>
            <p>Controller é o que gerenciar as conexão do Model e o View</p>
        </main>
            <a href="/portal">Página Inicial</a>
            <a href="/servicos">Serviços</a>
            <a href="/contato">Contato</a>
    </body>    
</html>
